params {

  /*
  * pipeline input parameters
  */
  dataDir="/apps/data/"
  tmpDataDir = "/groups/${params.group}/${params.tmpdir}/"
  reference_GRCh37 = "${dataDir}/1000G/phase1/human_g1k_v37_phiX.fasta"
  reference_GRCh38 = "${dataDir}/GRC/GRCh38/GRCh38_full_analysis_set_plus_decoy_hla.fa"
  bedfile_GRCh38 = "/apps/data/UMCG/ncbiRefSeq_hg38_2022-10-28_exons_slop_50bp_MANE_COMPLETED.merged.bed"
  }

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
  }
  slurm {
    process {
      executor = 'slurm'

      errorStrategy = { task.exitStatus in 104..143 ? 'retry' : 'finish' }
      maxRetries = 2
      maxErrors = '-1'

      cpus = 1
      memory = '1.GB' 
      time = '1 hour'

      withLabel:'capture_and_reheader' {
        cpus = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
        time = { 10.m * task.attempt }
      }
      withLabel:'forcedcalls' {
        cpus = { 1 * task.attempt }
        memory = { 5.GB * task.attempt }
        time = { 10.m * task.attempt }
      }
    }
  }
}