params {

  /*
  * pipeline input parameters
  */
  resultsDir = "$launchDir/results"
  launchDir = ""
  samplesheet = "${launchDir}/samplesheet.csv"
  tmpDataDir = "/groups/${params.group}/${params.tmpdir}/"
  intermediateDir = "$launchDir/tmp/"
  dataDir="/apps/data/"
  }

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
  }
  slurm {
    process {
      executor = 'slurm'

      errorStrategy = { task.exitStatus in 104..143 ? 'retry' : 'finish' }
      maxRetries = 2
      maxErrors = '-1'

      cpus = 1
      memory = '1.GB' 
      time = '1 hour'

      withLabel:'reheader' {
        cpus = { 1 * task.attempt }
        memory = { 1.GB * task.attempt }
        time = { 10.m * task.attempt }
      }
      withLabel:'forcedcalls' {
        cpus = { 1 * task.attempt }
        memory = { 5.GB * task.attempt }
        time = { 10.m * task.attempt }
      }
    }
  }
}