params {

  /*
  * pipeline input parameters
  */
  resultsDir = "$launchDir/results"
  launchDir = ""
  samplesheet = "${launchDir}/samplesheet.csv"
  tmpDataDir = "/groups/${params.group}/${params.tmpdir}/"
  intermediateDir = "$launchDir/tmp/"
  }

profiles {
  local {
    process.executor = 'local'
    process.cpus = 2
  }
}